:root {
	/* color pallette */
	--color-primary: #1b2845;
	--text-primary: #009cdb;
	--link-hover: #84c3dc;
	--color-secondary: #ffffff;
	--overlay-color: #303d57;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--color-primary) !important;
	color: var(--text-primary) !important;
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
}

body.no-scroll {
	overflow: hidden;
	height: 100%;
}

a {
	font-weight: 500;
	text-decoration: none;
	transition: font-size 0.2s ease, transform 0.2s ease;
}
a:hover {
	color: var(--link-hover);
	/* font-size: 17px;
	transform: scale(1.05); */
}
